.sidebar {
    background-color: white;
    color: #131313;
    border-radius: 20px;
    padding: 20px 20px 0px 20px;
    width: 250px;
    text-align: left; /* Align all content to the left */
    height:100vh;
}

.user-control
{
    position: absolute;
    bottom: 0;
}
.leftArrow
{
    position: relative;
    left:100%;
}

.rightArrow
{
    position: relative;
    left:60%;
}

.sidebar-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left:15px;
}

.dropdown-option {
    padding: 10px;
    margin: 0;
    font-size: inherit; /* Match the font size of the parent */
    cursor: pointer;
}

.arrow {
    margin-left: auto;
}

.arrow img {
    width: 20px; /* Adjust arrow size */
}

.role
{
    background-color: #FFCD71;
    border-radius: 20px;
    font-size:10px;
    padding:2px 5px 2px 5px;
    width: 30px;
}

.user-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #F1F1F1;
    outline: none;
    background-image: url('../../../public/microscope-icon.png');
    background-size: 20px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-position: left 10px center; /* Adjust position as needed */
    outline: none;
    text-indent: 30px;
    width: 100%;
}

.tag {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    height:40px;
    font-size:14px;
    font-weight: 400;
}
.tag img {
    height:15px;
    width:15px;
    justify-content: baseline;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.user-icon {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.settings, .logout {
    cursor: pointer;
    margin-bottom: 10px;
}

.close-sidebar-view
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 50px; /* Adjust the width as needed */
    padding-top: 20px; /* Add padding to top */
    padding-bottom: 20px; /* Add padding to bottom */
    z-index: 999; /* Ensure it's on top of other elements */
    background-color: #ffffff;
}   

.close-sidebar-up  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
}

.close-sidebar-down  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
}

.sidebar-icon {
    width: 20px; /* Adjust the size of the icons as needed */
    height: 20px;
    margin-bottom: 5px; /* Adjust the spacing between icons */
    cursor: pointer;
}

